# Node Modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.*

# Build Output
dist/
build/

# TypeScript
*.tsbuildinfo

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.swp

# Debugging Files
coverage/
*.tgz

# Yarn Berry Files
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Optional npm cache
.npm/
mbank-449104-a67e737ee129.json
docker-compose.override.yml